<div id="header_bar">
    <a href="/main">
        <span id="k_initial" class="bold_font">k</span>
        <span class="bold_font blue_font">b</span>
    </a> 
    <div id="search_icon_wrapper" class="light_grey_bg">
        <img src="../images/search-icon.png" width="16px" height="16px" class="light_grey_bg"/>
    </div>
    <input placeholder="Search" class="light_grey_bg" type="text">

    <button class="blue_bg btn">logout</button>
</div>