<div id="header_bar">
    <span id="k_initial" class="bold_font">k</span>
    <span class="bold_font blue_font">b</span>
    <input placeholder="Search" type="text">
    <button>logout</button>
</div>