<div id="header_bar">
    <a href="/main">
        <span id="k_initial" class="bold_font">k</span>
        <span class="bold_font blue_font">b</span>
    </a> 
    <div id="search_icon_wrapper" class="light_grey_bg">
        <img src="../images/search-icon.png" width="16px" height="16px" class="light_grey_bg"/>
    </div>
    <form id="searchBar" action="/post/searchByTitle" method="POST">
        <input id="searchInput" name="searchTerm" placeholder="Search" class="light_grey_bg" type="text">
        <input id="searchButton" type="submit" class="hide">
    </form>
    <form id="logout" action="/logout" method="GET">
            <input class="blue_bg btn" type="submit" name="logoutBtn" value="logout">
    </form>
    {{!-- <button class="blue_bg btn">logout</button> --}}
</div>