 <div id="profilePicFragment">
    <img class="userPicture" src="{{user.image_url}}"/>
    <p class="userNameText">{{user.first_name}} {{user.last_name}}</p>
    <p class="userDescription">{{user.description}}</p>   
</div>
