 <div id="profilePicFragment">
    <img class="userPicture" src="{{user.ImageUrl}}"/>
    <p class="userNameText">{{user.FirstName}} {{user.LastName}}</p>
    <p>{{user.Description}}</p>   
</div>
<br class="clear"/>