<div id="userlinkFragment">
    <div><a href="/myPost"><span class="align-left">Posts</span><span class="align-right">{{user.PostNo}}</span></a></div>
    <div><a href="/message"><span class="align-left">Message</span><span class="align-right">{{user.MsgNo}}</span></a></div>
    <div><span class="align-left">Likes</span><span class="align-right">{{user.LikesNo}}</span></div>
    <div><a href="/profile">Edit Profile</a></div>
</div>