<div id = "userlinkFragment">
    <a href="/myPost">Post    {{user.PostNo}}</a>
    <a href="/message">Message        {{user.MsgNo}}</a>
    <p>Likes    {{user.LikesNo}}</p>
    <a href="/profile">Edit Profile</a>
</div>