<!DOCTYPE html>
<html lang="en">
    <script src="https://kit.fontawesome.com/266c1ff264.js" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
    <link href='/css/main.css' rel='stylesheet' />
    {{#if postCSS}}
        <link href='/css/postPage.css' rel='stylesheet' />
    {{/if}}
    {{#if loginCSS}}
        <link href='/css/loginPage.css' rel='stylesheet' />
    {{/if}}
    {{#if mainPageCSS}}
        <link href='/css/mainPage.css' rel='stylesheet' />
    {{/if}}
    {{#if messagePageCSS}}
        <link href='/css/messagePage.css' rel='stylesheet' />
    {{/if}}
    {{#if messageEditPageCSS}}
        <link href='/css/messageEditPage.css' rel='stylesheet' />
    {{/if}}
    {{#if myPostCSS}}
        <link href='/css/myPostPage.css' rel='stylesheet' />
    {{/if}}
    {{#if othersPostCSS}}
        <link href='/css/othersPostPage.css' rel='stylesheet' />
    {{/if}}
    {{#if profileEditCSS}}
        <link href='/css/profileEditPage.css' rel='stylesheet' />
    {{/if}}
    {{#if replyCSS}}
        <link href='/css/replyPage.css' rel='stylesheet' />
    {{/if}}
    {{#if signupCSS}}
        <link href='/css/signUpPage.css' rel='stylesheet' />
    {{/if}}


</head>
<body>
    {{{ body }}}
</body>
</html>