<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
    <link href='/css/discussionPage.css' rel='stylesheet' />
    <link href='/css/loginPage.css' rel='stylesheet' />
    <link href='/css/mainPage.css' rel='stylesheet' />
    <link href='/css/messageEditPage.css' rel='stylesheet' />
    <link href='/css/messagePage.css' rel='stylesheet' />
    <link href='/css/myPostPage.css' rel='stylesheet' />
    <link href='/css/othersPostPage.css' rel='stylesheet' />
    <link href='/css/profilePage.css' rel='stylesheet' />
    <link href='/css/replyPage.css' rel='stylesheet' />
    <link href='/css/signUpPage.css' rel='stylesheet' />
    {{!-- {{#if formsCSS}}
        <link href='/css/forms.css' rel='stylesheet' />
    {{/if}} --}}

</head>
<body>
    {{{ body }}}
</body>
</html>