{{>headerBar}}
{{#each discussion}}
    {{>post}}
{{/each}}
{{!-- <form id="reply" action="/discussion/showReply" method="POST">        
    <input type="submit" name="replyBtn" value="reply">
</form> --}}
