<div id="loginPage">
    <div id="loginPage-column1">
        <h1>Knowledge<span style="color:skyblue">Base</span></h1>
        <img id="kbIcon" src='https://i.ibb.co/TLnFXX0/vector-knowledge.jpg'/>
    </div>
    <div id="loginPage-column2">
        <form id="loginFm" action="/login/memberLogin" method="POST">        
            <input type="email" name="email" placeholder='email'>
            <input type="password" name="password" placeholder='password'>
            <input type="submit" name="loginBtn" value="login">
        </form>
        <div id="loginPage-invalidUser">
            <p></p>
            {{#if InvalidMember}}
            <p id="invalidUserWarning">Invalid User! Please check and input again!</p>
            {{/if}}
        </div>      
        <h1>Join the world's largest community for knowledge sharing</h1>
        <form id="signupFm" action="/login/signup" method="POST">  
            <input type="text" name="firstName" placeholder='firstname'>
            <input type="text" name="lastName" placeholder='lastname'>      
            <input type="email" name="email" placeholder='email'>
            <input type="password" name="password" placeholder='password'>
            <input type="password" name="confirmPwd" placeholder='confirm password'>
            <input type="submit" name="signupBtn" value="signup">
        </form>     
    </div>
</div>
