<h2> This is Login Page!! </h2>

<form id="login" action="/login/memberLogin" method="POST">        
    <input type="submit" name="loginBtn" value="login">
</form>

<br>

<form id="signup" action="/login/signup" method="POST">        
    <input type="submit" name="signUpBtn" value="signUp">
</form>
