<div id="mainPage">
    <div>
        {{>headerBar}}
    </div>
    <div>
        <div id="mainPage-column1">
            {{>profileFrag}}
            <br class="clear">
            {{>userLink}}
        </div>
        <div id="mainPage-column2">
            <div id="postDiscussion">
                <p>What's your question today?</p>
                <form action="/main/postToTimeLine" method="POST">
                    <input type="text" name="subject" placeholder='subject'>
                    <textarea id="discussDescption" rows="6" name="contents" placeholder='explain in detail'></textarea>
                    <select class="topicOption">
                        <option value="topic">topic</option>
                        <option value="php">php</option>
                        <option value="nodejs">nodejs</option>
                        <option value="java">java</option>
                        <option value="sql">sql</option>
                        <option value="zend">zend</option>
                    </select>
                    <input type="submit" name="post" value="post to timeline">
                </form>
            </div>
            <div id="searchByTopic">
                <div id="searchTopicText"><span>Search by Topic</span></div>
                <form action="/main/searchByTopic" method="POST">               
                    <select class="topicOption">
                        <option value="topic">topic</option>
                        <option value="php">php</option>
                        <option value="nodejs">nodejs</option>
                        <option value="java">java</option>
                        <option value="sql">sql</option>
                        <option value="zend">zend</option>
                    </select>
                    <input type="submit" name="searchByTopicBtn" value="go->">
                </form>
            </div>
            <div id="listDiscussions">
                {{#each posts}}
                    {{>post}}
                {{/each}}
                <br class="clear"/>
            </div>
            <div id="moreDiscussions">
                {{#if morePages.prev}}
                <a href="/main/prev"> <span class="previousPage"><-Previous</span></a>
                {{/if}}
                {{#if morePages.next}}
                <a href="/main/next"> <span class="nextPage">Next-></span></a>
                {{/if}}
            </div>
        </div>
    </div>    
</div>

{{!-- {{>profileFrag}}

{{#each posts}}
    {{>post}}
{{/each}}
<br class="clear"/> --}}

<h2> This is Main Page!! </h2>

<form id="logout" action="/logout" method="GET">        
    <input type="submit" name="logoutBtn" value="logout">
</form>

<br>

<form id="searchByTitle" action="/main/searchByTitle" method="POST">        
    <input type="submit" name="searchByTitleBtn" value="searchByTitle">
</form>

<br>

<form id="searchByTopic" action="/main/searchByTopic" method="POST">        
    <input type="submit" name="searchByTopicBtn" value="searchByTopic">
</form>

<br>

<form id="postByTimeLine" action="/main/postToTimeLine" method="POST">        
    <input type="submit" name="postByTimeLineBtn" value="postByTimeLine">
</form>

<br>

<form id="newReply" action="/discussion/newReply" method="POST">        
    <input type="submit" name="newReplyBtn" value="replies">
</form>

<br>

<form id="prev" action="/main/prev" method="POST">        
    <input type="submit" name="prevBtn" value="prev">
</form>

<br>

<form id="next" action="/main/next" method="POST">        
    <input type="submit" name="nextBtn" value="next">
</form>

<hr>
