{{>headerBar}}

{{#each posts}}
    {{>post}}
{{/each}}
<br class="clear"/>

<h2> This is Main Page!! </h2>

<form id="logout" action="/logout" method="GET">        
    <input type="submit" name="logoutBtn" value="logout">
</form>

<br>

<form id="searchByTitle" action="/main/searchByTitle" method="POST">        
    <input type="submit" name="searchByTitleBtn" value="searchByTitle">
</form>

<br>

<form id="searchByTopic" action="/main/searchByTopic" method="POST">        
    <input type="submit" name="searchByTopicBtn" value="searchByTopic">
</form>

<br>

<form id="postByTimeLine" action="/main/postToTimeLine" method="POST">        
    <input type="submit" name="postByTimeLineBtn" value="postByTimeLine">
</form>

<br>

<form id="newReply" action="/post/addComment" method="POST">        
    <input type="submit" name="newReplyBtn" value="replies">
</form>

<br>

<form id="prev" action="/main/prev" method="POST">        
    <input type="submit" name="prevBtn" value="prev">
</form>

<br>

<form id="next" action="/main/next" method="POST">        
    <input type="submit" name="nextBtn" value="next">
</form>

<hr>

<form id="message" action="/message" method="POST">        
    <input type="submit" name="messageBtn" value="message">
</form>

<br>

<form id="myPost" action="/myPost" method="POST">        
    <input type="submit" name="myPostBtn" value="myPost">
</form>

<br>

<form id="profile" action="/profile" method="POST">        
    <input type="submit" name="profileBtn" value="profile">
</form>

<hr>

<form id="othersPost" action="/othersPost" method="POST">        
    <input type="submit" name="othersPostBtn" value="othersPost">
</form>