{{>headerBar}}
<div id="mainPage">
    <div id="mainPage-content">
        <div id="mainPage-column1">
            {{>profileFrag}}
            <br class="clear">
            {{>userLink}}
        </div>
        <div id="mainPage-column2">
            <div id="postDiscussion">
                <p>What's your question today?</p>
                <form action="/main/postToTimeLine" method="POST">
                    <input type="text" name="subject" placeholder='subject'>
                    <textarea id="discussDescption" rows="6" name="contents" placeholder='explain in detail'></textarea>
                    <select class="topicOption" name="topic">
                        <option value="topic">topic</option>
                        <option value="php">php</option>
                        <option value="nodejs">nodejs</option>
                        <option value="java">java</option>
                        <option value="sql">sql</option>
                        <option value="zend">zend</option>
                    </select>
                    <input type="submit" name="post" value="post to timeline">
                </form>
            </div>
            <div id="searchByTopic">
                <div id="searchTopicText"><span>Search by Topic</span></div>
                <form action="/main/searchByTopic" method="POST">               
                    <select class="topicOption">
                        <option value="topic">topic</option>
                        <option value="php">php</option>
                        <option value="nodejs">nodejs</option>
                        <option value="java">java</option>
                        <option value="sql">sql</option>
                        <option value="zend">zend</option>
                    </select>
                    <input type="submit" name="searchByTopicBtn" value="go->">
                </form>
            </div>
            <div id="listDiscussions">
                {{#each posts}}
                    {{>post}}
                {{/each}}
                {{#if endOfList}}
                    <h2>No more posts</h2>
                {{/if}}
                <br class="clear"/>
            </div>
            <div id="moreDiscussions">
                {{#if showPrev}}
                <a href="/main/{{prevPage}}"> <span class="previousPage"> Previous </span></a>
                {{/if}}
                {{#if showNext}}
                <a href="/main/{{nextPage}}""> <span class="nextPage">Next-></span></a>
                {{/if}}
            </div>
        </div>
    </div>
</div>

{{!-- {{>profileFrag}}

{{#each posts}}
    {{>post}}
{{/each}}
<br class="clear"/> --}}

