{{>headerBar}}
<div id="mainPage">
    <div id="mainPage-content">
        <div id="mainPage-column1">
            {{>profileFrag}}
            <br class="clear">
            {{>userLink}}
        </div>
        <div id="mainPage-column2">
            <div id="postDiscussion">
                <h1>What's your question today?</h1>
                <form action="/main/postToTimeLine" method="POST">
                    <input type="text" name="subject" placeholder='subject' required>
                    <textarea id="discussDescption" rows="6" name="contents" placeholder='explain in detail...' required></textarea>
                    <select class="navy-style" class="topicOption" name="topic" required>
                        <option value="topic">topic</option>
                        <option value="php">php</option>
                        <option value="nodejs">nodejs</option>
                        <option value="java">java</option>
                        <option value="sql">sql</option>
                        <option value="zend">zend</option>
                    </select>
                    <input class="navy-style" type="submit" name="post" value="post to timeline">
                </form>
            </div>
            <div id="searchByTopic">
                <div id="searchTopicText"><span>Search by Topic</span></div>
                <form action="/main/searchByTopic" method="POST">               
                    <select class="navy-style" name="topic" class="topicOption" required>
                        <option value="" disabled selected>topic</option>
                        <option value="1">php</option>
                        <option value="2">nodejs</option>
                        <option value="3">java</option>
                        <option value="4">sql</option>
                        <option value="5">zend</option>
                    </select>
                    <input type="submit" name="searchByTopicBtn" value="go ->">
                </form>
            </div>
            <div id="listDiscussions">
                <h2>Latest Discussions</h2>
                {{#each posts}}
                    {{>post}}
                {{/each}}
                {{#if endOfList}}
                    <h2>No more posts</h2>
                {{/if}}
                <br class="clear"/>
            </div>
            <div id="moreDiscussions">
                {{#if showPrev}}
                <a href="/main/{{prevPage}}"> <span class="previousPage"> Previous </span></a>
                {{/if}}
                {{#if showNext}}
                <a href="/main/{{nextPage}}""> <span class="nextPage">Next-></span></a>
                {{/if}}
            </div>
        </div>
    </div>
</div>

{{!-- {{>profileFrag}}

{{#each posts}}
    {{>post}}
{{/each}}
<br class="clear"/> --}}

