<h2> This is myPost Page!! </h2>

<form id="message" action="/message" method="POST">        
    <input type="submit" name="messageBtn" value="message">
</form>

<br>

<form id="myPost" action="/myPost" method="POST">        
    <input type="submit" name="myPostBtn" value="myPost">
</form>

<br>

<form id="profile" action="/profile" method="POST">        
    <input type="submit" name="profileBtn" value="profile">
</form>

<hr>

<form id="othersPost" action="/othersPost" method="POST">        
    <input type="submit" name="othersPostBtn" value="othersPost">
</form>