<div id="myPostPage">
    <div>
        {{>headerBar}}
    </div>
    <div>
        <div id="myPostPage-userColumn">
        {{>profileFrag}}
        {{>userLink}}
        </div>
        <div id="myPostPage-postColumn">
            <h1>All Posts</h1>
            {{#each posts}}
                {{>post}}
            {{/each}}
            <br class="clear"/>
        </div>
    </div>
    
</div>