{{>headerBar}}
{{>post Subject="Subject" 
    ImgUrl="https://randomuser.me/api/portraits/med/women/2.jpg"
    PostContent="hello world"}}

<form id="newReply" action="/post/newReply" method="POST">
    <input type="text" name="postString">        
    <input type="submit" name="newReplyBtn" value="newReply">
</form>