#loginPage {
    width: 100%;
}

#kbIcon {
    width: 80%;
    max-width: 400px;
    height: auto;
}

/* Create three equal columns that floats next to each other */
#loginPage-column1 {
    margin-left: 10%;
    float: left;
    width: 35%;
}

#loginPage-column1 h1 {
    font-size: 40px; 
    width: 100%;
}

#loginPage-column2 {
    margin-top: 40px;
    float: left;
    width: 40%;
    max-width: 500px;
}

#loginFm input[type=submit] {
    height: 30px;
    color: white;
    background-color: #03a2e7;
    padding: 5px 30px;
    border: none;
}

#loginFm input[type=email],
#loginFm input[type=password] {
    height: 25px;
}

#signupFm input{
    padding: 5px;
    margin: 5px 0px;
}

#signupFm input[type=text] {
    height: 25px;
    width: 40%;
}

#signupFm input[type=email],
#signupFm input[type=password] {
    height: 25px;
    display: block;
    width: 85%;
    margin: 0.65em 0;
}

#signupFm input[type=submit] {
    height: 30px;
    display: block;
    width: 85%;
    /* margin: 0.65em 0; */
    background-color:  #03a2e7;
    border: none;
    color: white;
}

#loginPage-invalidMemberInfo {
    height: 10px;
}

#loginPage-invalidUserInfo {
    height: 30px;
}

#invalidMemberWarning,
#invalidNewUserWarning {
    color: red;
}