@import url('"https://fonts.googleapis.com/css?family=Anton&display=swap');

body {
    font-family: 'Anton', sans-serif;
    min-width: 800px;
    width: 80%;
    margin: 0 auto;
}

#header_bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}

#header_bar a, 
#header_bar a:visited, 
#header_bar a:hover, 
#header_bar a:active {
    text-decoration: none;
    color: inherit;
}

.circular_img {
    border-radius: 40px;
}

.bold_font {
    font-size: 25pt;
    font-weight: bolder;
}

#b_initial {
    color: skyblue;
}

#header_bar input {
    height: 30px;
    width: 200px;
    border: none;
    padding: 0;
}

#header_bar input:focus {
    outline: none;
    
}

#header_bar button {
    margin-left: auto;
    height: 30px;
    width: 150px;
}

#search_icon_wrapper{
    height: 30px;
    width: 25px;
    margin-left: 30px;
}

#search_icon_wrapper img {
    margin-top: 7px;
    margin-left: 5px;
}

.btn {
    color: white;
    border: none;
}
/* theme colours */

.blue_bg {
    background-color: #03a2e7;
}

.blue_font {
    color: #03a2e7;
}

.light_grey_bg {
    background-color: #d9d9d9;
}

/* This is for post bar */
#post_bar {
    width: 60%;
    float: left;
    margin-bottom: 20px;
    display: block;
}

#post_bar_user_Column {
    width: 30%;
    float: left;
}

#post_bar_content_Column {
    width: 65%;
    float: left;
}

#post_bar_content_Column a {
    float: right;
}

#post_bar_content_Column div {
    margin-bottom: 5px;
    margin-top: 5px;
}

.userPicture {
    border-radius: 50%;
}

#discussionSubject {
    font-size: larger;
}

#discussionTopic {
    border: 1px solid skyblue;
    float: right;
    color: skyblue;
}

.clear {
    clear: both; 
}

#profilePicFragment {
    float: left;
    display: block;
}

#profilePicFragment img {
    display: block;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.userNameText {
    font-size: larger;
    text-align: center;
}

#userlinkFragment {
    width: 80%;
    display: relative;
}

#userlinkFragment > div {
    clear: both;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.hide {
    display:  none;
}