#mainPage-content {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#mainPage-column1 {
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    width: 20%;
}

#mainPage-column2 {
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
}

.userNameText {
    font-weight: bold;
    font-size: 25px;
}

.userDescription {
    text-align: center;
}

#mainPage-statisData a {
    display: block;
}

#postDiscussion {
    width: 100%;
}

#postDiscussion form input[type=text] {
    display: block;
    height: 25px;
    width: 80%;
    margin: 0.65em 0;
}

#postDiscussion form textarea {
    display: block;
    width: 80%;
    margin: 0.65em 0;
}

#postDiscussion form input[type=submit] {
    width: 40%;
    height: 25px;
}

#searchByTopic form input[type=submit] {
    height: 30px;
    color: white;
    padding: 5px 20px;
    background-color: #03a2e7;
    border: none;
}

.topicOption {
    width: 40%;
    height: 25px;
}

#searchByTopic {
    margin-top: 20px;
}

#searchTopicText {
    margin-top: 4px;
    float: left;
    width: 26%;
    height: 25px;
    display: flex;
}

#listDiscussions {
    width: 100%;
    display: block;
    /* min-height: max-content; */
}

.navy-style {
    border: 1px solid #01a2e8;
    color: #01a2e8;
    background-color: white;
}

.clear { 
    clear: both; 
}

.currentDiscussion {
    width: 100%;
    /* height: fit-content; */
    display: block;
}

#currentDiscussion-publisher {
    margin-top: 20px;
    width: 30%;
    float: left;
}

#currentDiscussion-discussion {
    margin-top: 20px;
    width: 60%;
    float: left;
}

#currentDiscussion-discussion a {
    float: right;
}

#discussionSubject {
    font-size: larger;
}

#discussionTopic {
    border: 1px solid skyblue;
    float: right;
    color: skyblue;
}

#moreDiscussions {
    margin-top: 20px;
    width: 90%;
}

.previousPage {
    border: 5px solid skyblue;
    float: left;
}

.nextPage {
    border: 5px solid skyblue;
    float: right;
}