#otherPostPage {
    width: 100%;
}

#otherPostPage-user {
    width: 100%;
    display: block;
}

#otherPostPage-user-column1 {
    width: 45%;
    float: left;
}

#otherPostPage-user-column2 {
    width: 50%;
    float: right
}