.post-div {
    width: 700px;
    margin: 30px auto 50px 0px;
}

.post-frame {
    width: 100%;
    display: flex;
}

.post-image {
    min-width: 120px;
    margin-right: 10px;
}

.post-image img {
    border-radius: 50%;
    float: left;
}

.comment_div {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.comment_div div:nth-child(1) {
    min-width: 100px;
    flex-grow: 1;
}

.comment_div div:nth-child(2) {
    flex-grow: 3;
}

.comment_container {
    width: 100%;
}

.comment_div img {
    border-radius: 50%;
    width: 50px;
    float: left;
    height: 50px;
}

.post-content {
    flex-grow: 4;
}

.post-header {
    display: flex;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.post-subject {
    flex-grow: 50;
}

.post-topic {
    flex-grow: 1;
    color: #00FFFF;
    max-width: 90px;
    min-width: 90px;
    height: 30px;
    border: 1px solid #00FFFF;
    text-align: center;
    padding: 2px;
}

.post-body {
    margin-left: 40px;
}

.post-message {
    height: 80px;
    overflow: auto;
}

.post-bottom {
    display: flex;
    color:#6e7376;
    margin-top: 15px;
    margin-bottom: 15px;
}

.post-replies-text {
    padding-bottom: 10px;
}

.post-replies-text:hover {
    border-bottom: 1px solid cyan;
}

.post-date {
    text-align: left;
    font-size: 0.9em;
    flex-grow: 1;
    height: 30px;
}

.post-replies {
    text-align: right;
    font-size: 0.95em;
    flex-grow: 1;
}

.post-replies > div {
    padding-bottom: 5px;
}

#newReply {
    display: flex;
}

#newReply input:nth-child(2){
    flex-grow: 3;
}

#newReply input:nth-child(3){
    flex-grow: 1;
    padding: 5px 20px;
    margin-left: 50px;
}

.hide-comment {
    margin-top: 10px;
    color: #a0a6a1;
}

.hide-comment span:hover {
    border-bottom: 1px solid cyan;
    padding-bottom: 10px;
}