.post-div {
    width: 700px;
    margin: 50px auto 50px auto;

}

.post-frame {
    width: 100%;
    display: flex;
}

.post-image {
    width: 120px;
}

.comment_div {
    width: 50px;
}

.post-image img,
.comment_div img {
    border-radius: 50%;
}

.post-content {
    flex-grow: 4;
}

.post-header {
    display: flex;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.post-subject {
    flex-grow: 50;
}

.post-topic {
    flex-grow: 1;
    color: #00FFFF;
    width: 90px;
    border: 1px solid #00FFFF;
    text-align: center;
    padding: 2px;
}

.post-body {
    margin-left: 40px;
}

.post-message {
    height: 80px;
}

.post-bottom {
    display: flex;
    color:#6e7376;
}

.post-date {
    text-align: left;
    font-size: 0.9em;
    flex-grow: 1;
}

.post-replies {
    text-align: right;
    font-size: 0.95em;
    flex-grow: 1;
}

.post-replies > div {
    padding-bottom: 5px;
}

.post-replies > div > span:hover {
    padding-bottom: 10px;
    border-bottom: 2px solid #1a75ff;
}