#signUpPage {
    width: 100%;
}

#signUpPage-column1 {
    margin-left: 10%;
    width: 25%;
    float: left;
}

#signUpPage-column1 h1 {
    font-size: 40px; 
    width: 100%;
}

#signUpPage-column2 {
    /* margin-left: 50px; */
    margin-top: 100px;
    width: 40%;
    float: left;
}

#signUpPageDescript {
    margin-top: 38px;
    max-width: 80%;
}

#completeRegistration input {
    width: 100%;
    padding-left: 5px;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

#completeRegistration textarea {
    width: 100%;
    padding-left: 5px;
    display: block;
    resize: none;
}

#completeRegistration input[type=submit] {
    height: 35px;
    width: 85%;
    color: white;
    border: none;
}

#regEntry {
    width: 100%;
    max-height: 300px;
    display: block;
    margin: 10px 0;
}

#regEntry div:nth-child(1) {
    width: 30%;
    max-width: 150px;
    float: left;
}

#regEntry div:nth-child(2) {
    margin-bottom: 10px;
    width: 60%;
    float: left;
}